*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}
/* Estilo para el encabezado */
.header{
    background-color: #154360; /* Establece el color de fondo del encabezado */
    display: flex; /* Utiliza un diseño flexible */
    justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
    align-items:center; /* Alinea verticalmente los elementos al centro */
    height: 60px; /* Establece la altura del encabezado */
    padding: 0 50px; /* Añade relleno horizontal */
}

    /* Estilo para el encabezado fijo */
    .header .fixed {
        position: fixed; /* Fija la posición del encabezado */
        top: 0; /* Lo coloca en la parte superior */
        left: 0; /* Lo alinea a la izquierda */
        width: 100%; /* Ocupa todo el ancho disponible */
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
    }

    /* Estilo para el logo en el encabezado */
    .header .logo{
        cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el logo */
    }

    /* Estilo para la imagen del logo */
    .header .logo img{
        height: 50px; /* Establece la altura de la imagen */
        width: 50px; /* Establece el ancho de la imagen */
        transition: all 0.3s; /* Añade una transición suave para todos los cambios */
    }

    /* Efecto al pasar el ratón sobre la imagen del logo */
    .header .logo img:hover{
        transform: scale(1.2); /* Aumenta el tamaño de la imagen al 120% */
        display: flex; /* Cambia el tipo de visualización a flexible */
    }

    /* Estilo para los enlaces de navegación */
    .header .nav-links{
        list-style: none; /* Elimina los marcadores de lista */
    }

    /* Estilo para los elementos de la lista de navegación */
    .header .nav-links li{
        display: inline-block; /* Muestra los elementos en línea */
        padding: 0 15px; /* Añade relleno horizontal */    
    }

    /* Efecto al pasar el ratón sobre los elementos de la lista */
    .header .nav-links li:hover{
        transform: scale(1.1); /* Aumenta ligeramente el tamaño del elemento */
    }

    /* Estilo para los enlaces dentro de la lista de navegación */
    .header .nav-links a{
        color: #eceff1; /* Establece el color del texto */
        text-decoration: none; /* Elimina el subrayado del enlace */    
    }

    /* Efecto al pasar el ratón sobre los enlaces */
    .header .nav-links li a:hover{
        color: #ffbc0e; /* Cambia el color del texto al pasar el ratón */
    }

/*Estilo de la Primera Sección*/
.first-section {
    background-color: #fff;
    border: 1px solid #a3a2a2;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 4px 8px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

    .left-content {
        width: 50%;
        margin: auto 10px;
    }

    .right-content {
        width: 50%;
    }


    .description {
        text-align: left;
        margin-bottom: 20px;
    }

        .title-description{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 5px;

        margin: 0 0px 20px 00px;
        border-bottom: 5px solid #000 ;
        padding-left: 10px ;
        padding-bottom: 5px;
        width: 200px;
        transition: 2s ease;
    }
    
            .title-description:hover {
                transition: 1s ease;
                width: 90%;
                font-size: 1.1rem;
            }

        .description p {
            font-size: 1rem;
            color: #555;
            width: 90%;
            margin-bottom: 50px;
        }

        .description p:hover {
            transition: .7s ease;
            font-size: 1.01rem;
            color: #111;
        }



        .description a {
            color: #007bff;
            text-decoration: none;
        }

    .mini-announcements {
        display: flex;

        flex-direction: flex-start;
        width: 100%;
    }

        .mini-item {
            display: flex;
            align-items: center;
            width: 80%;
            margin-bottom: 10px;
        }


        .mini-text h3 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .mini-text p {
            margin-left: 10px;
            font-size: 0.9rem;
            color: #333;
        }

        .mini-text a {
            color: #007bff;
            text-decoration: none;
            font-size: 0.9rem;
        }
        
    .right-content {
        flex-grow: 5;
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;


    }
    .images {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 2px;
    }

        .image-item {
            width: 100%;
            height: 400px;
            background-color: #e0e0e0;
            border-radius: 8px;
            margin-bottom: 10px;
            border: 1px solid #848484;
            
        }
        .image-item {
            width: 0px;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
        }
        .image-item:hover {
            cursor: crosshair;
                width: 200px;
                opacity: 1;
                filter: contrast(120%);
        }
        .desc {
            font-size: 0.7rem ;
            color: #696969
        }

.second-section{
    background-color: #fff;
    border: 1px solid #a3a2a2;
    margin: 15px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
}
        .galeria {
            display: flex;
            width: 70%;
            height: 430px;
            margin: auto;
            
        }
            .galeria img {
                width: 0px;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
                border-radius: 10px;
                border: 1px solid #a3a2a2;
            }

            .galeria img:hover {
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
                border: 1px solid #000;
            }
        
        .news {
            background-color: #fff;
            display: flex;
            margin-right: 10px;
            margin-top: 20px;
        }

            .news-items {
                display: flex;
                flex-direction: column;
                padding: 10px;
                margin: 10px;
                width: 70%;
                border: 1px  solid #a3a2a2;
                border-radius: 15px;
                box-shadow: 0 4px 8px #949494;
                transition: 1s ease;
            }
            .news-items h3 {
                margin-bottom: 10px;
            }
            .news-items p {
                text-align: justify;
                margin: 5px;
            }

            .news-items:hover {
                transition: 1s ease;
                box-shadow: 0 4px 8px #000;
                transform: translateY(-5%);
            }

            .img-news {
                height: 60px;
                width: 80px;
                background-color: #fff;
                border: 1px solid #000;
                border-radius: 10px;
                flex-grow: 2;
                margin-right: 10px;
            }

            .desc-news{
                flex-grow: 1;
                margin-left: 0px;
            }
                .desc-news h3 {
                    font-size: 1.2rem;
                }

                .desc-news p {
                    font-size: .9rem;
                }

                .desc-news a {
                    font-size: .8rem;
                }


@media (max-width: 585px) {
    .first-section {
        flex-direction: column;
    }
    .news {
        display: flex;
        flex-direction: column;
    }

}


/* -------------------Codigo de Prueba--------------------*/
/*footer*/
footer {
    background-color: #f5f5dc;
    padding: 20px;
    border-top: 1px solid #000;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #333;
    max-width: 1200px;
}

.logo-section {
    border-right: 1px solid #8d8d8d;
    text-align: center;
    padding-right: 40px;
}
.search-section button {
    padding: 5px 10px;
    border: none;
    background-color: #154360;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #ffbc0e;
}

.logo-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.logo-section p {
    max-width: 250px;
    font-size: 0.9em;
    line-height: 1.5;
}

.menu-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-section ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-section h2 {
    margin-bottom: 10px;
}

.search-section input[type="text"] {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 150px;
}

.social-section {
    border-left: 1px solid #8d8d8d;
    text-align: center;
    padding-left: 60px;
}

.social-section h3 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-section p {
    margin: 5px 0;
    font-size: 0.9em;
}

.social-section a {
    text-decoration: none;
    color: #333;
}

.social-section a:hover {
    text-decoration: underline;
}

.data-icons {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}

/* Fin de codigo de prueba*/
