@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}


/*Estilo de la Primera Sección*/
.first-section {
    background-color: #fff;
    border: 1px solid #a3a2a2;
    border-radius: 10px;
    margin: 15px 50px;
    box-shadow: 0 4px 8px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

    .left-content {
        width: 50%;
        margin: auto 10px;
    }

        .description {
            text-align: left;
            margin-bottom: 20px;
        }

            .title-description{
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 20px;
                padding-left: 5px;
                margin: 0 0px 20px 00px;
                border-bottom: 5px solid #000 ;
                padding-left: 10px ;
                padding-bottom: 5px;
                width: 200px;
                transition: 2s ease;
            }
        
                .title-description:hover {
                    transition: 1s ease;
                    width: 90%;
                    font-size: 1.1rem;
                }

            .description p {
                font-size: 1rem;
                color: #555;
                width: 90%;
                margin-bottom: 50px;
            }

            .description p:hover {
                transition: .7s ease;
                font-size: 1.01rem;
                color: #111;
            }

            .description a {
                color: #007bff;
                text-decoration: none;
            }

        .mini-announcements {
            display: flex;

            flex-direction: flex-start;
            width: 100%;
        }

            .mini-item {
                display: flex;
                align-items: center;
                width: 80%;
                margin-bottom: 10px;
            }


            .mini-text h3 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: bold;
            }

            .mini-text p {
                margin-left: 10px;
                font-size: 0.9rem;
                color: #333;
            }

            .mini-text a {
                color: #007bff;
                text-decoration: none;
                font-size: 0.9rem;
            }


    .right-content {
        flex-grow: 5;
        display: flex;
        width: 50%;
        flex-direction: column;
        flex-wrap:nowrap;


    }
    .images {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 2px;
    }

        .image-item {
            width: 100%;
            height: 400px;
            background-color: #e0e0e0;
            border-radius: 8px;
            margin-bottom: 10px;
            border: 1px solid #848484;
            
        }
        .image-item {
            width: 0px;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
        }
        .image-item:hover {
            cursor: crosshair;
                width: 200px;
                opacity: 1;
                filter: contrast(120%);
        }
        .desc {
            font-size: 0.7rem ;
            color: #696969
        }

.second-section{
    background-color: #fff;
    border: 1px solid #a3a2a2;
    margin: 15px 50px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
}
        .galeria {
            display: flex;
            width: 60%;
            height: 430px;
            margin: auto;
            
        }
            .galeria img {
                width: 0px;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
                border-radius: 10px;
                border: 1px solid #a3a2a2;
            }

            .galeria img:hover {
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
                border: 1px solid #000;
            }
        
        .news {
            background-color: #fff;
            display: flex;
            margin-right: 10px;
            margin-top: 20px;
        }

            .news-items {
                display: flex;
                flex-direction: column;
                padding: 10px;
                margin: 10px;
                width: 70%;
                border: 1px  solid #a3a2a2;
                border-radius: 15px;
                box-shadow: 0 4px 8px #949494;
                transition: 1s ease;
            }
            .news-items h3 {
                margin-bottom: 10px;
            }
            .news-items p {
                text-align: justify;
                margin: 5px;
            }

            .news-items:hover {
                transition: 1s ease;
                box-shadow: 0 4px 8px #000;
                transform: translateY(-5%);
            }

            .img-news {
                height: 60px;
                width: 80px;
                background-color: #fff;
                border: 1px solid #000;
                border-radius: 10px;
                flex-grow: 2;
                margin-right: 10px;
            }

            .desc-news{
                flex-grow: 1;
                margin-left: 0px;
            }
                .desc-news h3 {
                    font-size: 1.2rem;
                }

                .desc-news p {
                    font-size: .9rem;
                }

                .desc-news a {
                    font-size: .8rem;
                }


@media (max-width: 585px) {
    .first-section {
        flex-direction: column;
    }
    .news {
        display: flex;
        flex-direction: column;
    }

}

