@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}
/* Estilo para el encabezado */
.header {
    background-color: #154360;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 50px;
}

    .header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .header .logo {
        cursor: pointer;
    }

    .header .logo img {
        height: 50px;
        width: 50px;
        transition: all 0.3s;
    }

    .header .logo img:hover {
        transition: all 1s ease;
        transform: scale(1.3);
    }

    .header .nav-links {
        list-style: none;
    }

    .header .nav-links li {
        display: inline-block;
        padding: 0 15px;
    }

    .header .nav-links li:hover {
        transition: all 1s ease;
        transform: scale(1.1);
    }

    .header .nav-links a {
        color: #ffffff;
        text-decoration: none;
    }

    .header .nav-links li a:hover {
        color: #ffbc0e;
    }

/*main*/
main{
margin-top: 70px;
}
/* Estilo para el rectángulo azul con bordes redondeados */
.bienvenido-rectangulo {
    margin: 0 40px 20px 40px;
    border-bottom: 5px solid #000 ;
    padding-left: 10px ;
    padding-bottom: 5px;
    width: 300px;
    transition: 2s ease;
    text-align: start;
}

        .bienvenido-rectangulo:hover {
            transition: 1s ease;
            width: 90%;
            font-size: 1.1rem;
        }
/* Estilo para la sección de novedades */
/*cambio de efecto */
.novedad {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 25%;
    height: auto;
    box-shadow: 0 4px 8px #000;
    transition: all 400ms ease-out; /*Esto es lo que cambia*/
}
/*cambio de efecto */

    .novedad:hover {
        box-shadow: 5px 4px 15px #000;
        transform: translateY(-3%);
    }

.novedades {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    margin: 10px;
    border: 1px, solid, #a3a2a2;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
}

.novedades h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.novedades-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.novedad {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 25%;
    height: auto;
    box-shadow: 0 4px 8px #000;
    text-align: justify;
}
.titulo-carta{
    margin: 10px 0;
}
.novedad img {
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.novedad p {
    font-size: 1em;
    color: #333;
}

/* Estilo para la sección de próximas noticias */
.proximas-noticias {
    padding: 15px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
    border: 2px solid #fff;
    margin: 10px;
}

.title-noticias{
    margin-bottom: 10px;
    margin: 0 40px 20px 40px;
    border-bottom: 5px solid #000 ;
    padding-left: 10px ;
    padding-bottom: 5px;
    width: 300px;
    text-align: start;
    transition: 2s ease;
}

        .title-noticias:hover {
            transition: 1s ease;
            width: 90%;
            font-size: 1.1rem;
        }

.proximas-noticias h2 {
    font-size: 2em;
}

.proximas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
}

.proxima-noticia {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 11px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 4px 8px #000000;
}
.imagen-eventos{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.video-descripcion {
    flex: 1;
    max-width: 300px;
}

.video-descripcion h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #000000;
}

.video-descripcion p {
    font-size: 0.9em;
    color: #666;
}

.video {
    flex: 2;
    max-width: 600px;
}

.video iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

/* Estilo para el pie de página */
footer {
    background-color: #f5f5dc;
    padding: 20px;
    border-top: 1px solid #000;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #333;
    max-width: 1200px;
}

.logo-section {
    text-align: center;
    padding-right: 40px;
}
.search-section button {
    padding: 5px 10px;
    border: none;
    background-color: #154360;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.search-section button:hover {
    transform:translateY(-3%);
    transition: all 0.2s ease;
}

.search-section {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 40px;
    height: 150px;
}

.logo-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.logo-section p {
    max-width: 250px;
    font-size: 0.9em;
    line-height: 1.5;
}

.search-section h2 {
    margin-bottom: 10px;
}

.search-section input[type="text"] {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 150px;
}

.social-section {
    text-align: center;
    padding-left: 60px;
}

.social-section h3 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-section p {
    margin: 5px 0;
    font-size: 0.9em;
}

.social-section a {
    text-decoration: none;
    color: #333;
}

.social-section a:hover {
    text-decoration: underline;
}

.data-icons {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}