@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*0. Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}

/*3. Estilo para la primera sección : Novedades*/
.news {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    margin: 10px 50px;
    border: 1px, solid, #a3a2a2;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
}

    .news h2 {
        margin-bottom: 20px;
    }


    /* Estilo para el titulo de la sección novedades */
    .title-news {
        margin: 0 40px 20px 40px;
        border-bottom: 5px solid #000 ;
        padding-left: 10px ;
        padding-bottom: 5px;
        width: 300px;
        transition: 2s ease;
        text-align: start;
        font-size: 1.4rem;
    }

        .title-news:hover {
            transition: 1s ease;
            width: 90%;
            font-size: 1.1rem;
        }

    /* Caja de noticias de novedades */
    .container-news {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

        .novelty {
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 15px;
            width: 25%;
            height: auto;
            box-shadow: 0 4px 8px #000;
            transition: all 400ms ease-out; /*Esto es lo que cambia*/
            text-align: justify;
        }
        /*cambio de efecto */

            .novelty:hover {
                box-shadow: 5px 4px 15px #000;
                transform: translateY(-3%);
            }

        .title-novelty{
            margin: 10px 0;
        }
        .novelty img {
            width: 100%;
            object-fit: cover;
            height: auto;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .novelty p {
            font-size: 1em;
            color: #333;
        }

/* Estilo para la sección de próximas noticias */
.more_news {
    padding: 15px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
    border: 2px solid #fff;
    margin: 10px 50px;
}

    .more_news h2 {
        font-size: 2rem;
    }

    .title-more_news h2 {
        margin-bottom: 10px;
        margin: 0 40px 20px 40px;
        border-bottom: 5px solid #000 ;
        padding-left: 10px ;
        padding-bottom: 5px;
        width: 300px;
        text-align: start;
        transition: 2s ease;
    }

            .title-more_news h2:hover {
                transition: all 1s ease;
                width: 90%;
                font-size: 1.1rem;
            }

    .container-more_news {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 1200px;
    }

        .news-items {
            display: flex;
            align-items: center;
            gap: 20px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 11px;
            padding: 15px;
            width: 100%;
            box-shadow: 0 4px 8px #000000;
        }
            .div-img-news {
                flex: 2;
                max-width: 600px;
            }

            .div-img-news iframe {
                width: 100%;
                height: 200px;
                border-radius: 8px;
            }
                .img-events{
                    width: 100%;
                    height: 300px;
                    border-radius: 5px;
                }
                
        .desc-news {
            flex: 1;
            max-width: 300px;
        }

            .desc-news h3 {
                font-size: 1.2em;
                margin-bottom: 10px;
                color: #000000;
            }

            .desc-news p {
                font-size: 0.9em;
                color: #666;
            }