*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #154360;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    padding: 0 50px;
}


        .header .fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }
        .header .logo{
            cursor: pointer;
        }

        .header .logo img{
            height: 50px;
            width: 50px;
            transition: all 0.3s;
        }

        .header .logo img:hover{
            transform: scale(1.2);
            display: flex;
        }

        .header .nav-links{
            list-style: none;
        }

        .header .nav-links li{
            display: inline-block;
            padding: 0 15px;    
        }

        .header .nav-links li:hover{
            transform: scale(1.1);
        }

        .header .nav-links a{
            color: #eceff1;
            text-decoration: none;    
        }

        .header .nav-links li a:hover{
            color: #ffbc0e;
        }
