/* 1. General Styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
    padding-top: 60px; 
}

/*Estilos para hacer un slpash screen con palabras*/
        /* Estilos del splash screen */
        #splash {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #ffffff;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            transition: opacity 1s ease;

            /*Codigo agregado para que se desvanezca*/
            opacity: 1;
            visibility: visible;
            transition: opacity 1s ease, visibility 0s 1s; /* El tiempo de transici칩n puede ajustarse */

        }

        .splash-content h1 {
            font-size: 3rem;
        }

        /*Codigo agregado para que se desvanezca*/
        #splash.hidden {
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s ease, visibility 0s 1s;
        }
        /*00000*/

        .splash-content p {
            font-size: 1.2rem;
        }

        /* Ocultar el contenido principal mientras el splash est치 activo */
        #main-content {
            display: none;
        }

        /* Mostrar el contenido principal una vez que el splash desaparece */
        .show-content #main-content {
            display: block;
        }

/* 1.Estilos de Encabezado o NavBar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #154360;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 50px;
    transition: all 0.3s ease-in-out;
}

    .header .logo img {
        height: 50px;
        width: 50px;
        transition: all 0.3s;
        cursor: pointer;
    }

        .header .logo img:hover {
            transition: all 1s ease;
            transform: scale(1.3);
        }

    .header .nav-links {
        list-style: none;
    }

        .header .nav-links li {
            display: inline-block;
            padding: 0 15px;
        }

            .header .nav-links li:hover {
                transition: all 1s ease;
                transform: scale(1.1);
            }

        .header .nav-links a {
            color: #eceff1;
            text-decoration: none;
        }

            .header .nav-links li a:hover {
                color: #ffbc0e;
            }


/* 2. Estilos del cuerpo de la p치gina */
main {
    flex-grow: 1;
    box-sizing: border-box;
}

/* 2.1 Estilos de la portada */
.cover {
    height: 548px;
    background: url(/img/Principal/Fondo.jpeg) center center/cover no-repeat; /* Imagen de fondo de portada */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .live {
        background: #777d80;
        width: 600px;
        height: 400px;
        border: 1px solid #032172;
        border-radius: 10px;
        box-shadow: 0 4px 8px #032172 ;
    }

            .live:hover {
                transition: all 1s ease;
            }

        .iframe-live {
            width:  100%;
            height: 100%;
            border: none;
            border-radius: 10px;
        }

    
/* 2.2 Estilos de las Cartas */
.div-card {
    background-color: #fff;
    padding: 20px;
    margin: 15px 50px;
    border: 1px solid #a3a2a2;
    box-shadow: 0px 4px 8px #000;
    border-radius: 5px;
}
    /* 2.2.1 Estilo del Titulo */
    .title-cards {
        margin: 0 40px 20px 40px;
        border-bottom: 5px solid #000 ;
        padding-left: 10px ;
        padding-bottom: 2px;
        width: 250px;
        transition: 2s ease;
    }

            .title-cards:hover {
                transition: 1s ease;
                width: 90%;
                font-size: 1.1rem;
            }
        
    /* 2.2.2 Estilo del Contenedor de todas las cartas */
    .container-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
        gap: 20px; /* Espacio entre las tarjetas */
        max-width: 1100px;
        margin: auto;
    }

        /* Selector de las Cartas */
        .card{
            border-radius: 15px;
            overflow: hidden;
            background: #fff;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            transition: all 400ms ease-out;
            cursor: default;
        }

            .card:hover {
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-3%);
            }

        /* Imagen de las Cartas */
        .iframe-img {
            width:  100%;
            height: 100%;
            border: none;
            object-fit: cover;
        }

        .card img {
            width: 100%;
            height: 210px;
        }

        .card .content-card {
            padding: 15px;
            text-align: center;
        }

            .card .content-card h3 {
                margin-bottom: 15px;
                color: #7a7a7a;
            }

            .card .content-card p {
                line-height: 1.8;
                color: #6a6a6a;
                font-size: 14px;
                margin-bottom: 5px;
            }

            .card .content-card a {
                display: inline-block;
                padding: 10px;
                margin-top: 10px;
                text-decoration: none;
                color: #2fb4cc;
                border: 1px solid #2fb4cc;
                border-radius: 4px;
                transition: all 400ms ease;
                margin-bottom: 5px;
            }

                .card .content-card a:hover {
                    background: #2fb4cc;
                    color: #fff;
                }

/* Estilo para el pie de p치gina */
footer {
    background-color: #f5f5dc;
    padding: 20px;
    border-top: 1px solid #000;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #333;
    max-width: 1200px;
}
    

.search-section {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 40px;
    height: 150px;
}

    .search-section button {
        padding: 5px 10px;
        border: none;
        background-color: #154360;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
    }

        .search-section button:hover {
            transform:translateY(-3%);
            transition: all 0.2s ease;
        }

    .search-section h2 {
        margin-bottom: 10px;
    }
        
    .search-section input[type="text"] {
        padding: 5px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 150px;
    }


.logo-section {
    text-align: center;
    padding-right: 40px;
}

    .logo-section h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .logo-section p {
        max-width: 250px;
        font-size: 0.9em;
        line-height: 1.5;
    }



.social-section {
    text-align: center;
    padding-left: 60px;
}

    .social-section h3 {
        margin-bottom: 10px;
    }

    .social-section p {
        margin: 5px 0;
        font-size: 0.9em;
    }

    .social-section a {
        text-decoration: none;
        color: #333;
    }

        .social-section a:hover {
            text-decoration: underline;
        }

    .social-icons {
        display: flex;
        gap: 10px;
        margin: 20px 0;
    }

        .social-icons img {
            width: 24px;
            height: 24px;
        }

    .data-icons {
        display: flex;
        gap: 20px;
        margin: 25px 0;
    }


/* 5. Estilo Responsivo */
@media (max-width: 800px) {
    /*Codigo de Navbar*/
    .header {
        height: 60px;
        padding: 0 20px;
    }

    .header .logo img {
        height: 40px;
        width: 40px;
    }

    .header .nav-links li {
        padding: 0 10px;
    }

    .cover {
        height: 600px;
    }

    .live {
        background: #777d80;
        width: 80%;
        height: 400px;
        border: 3px solid #464646;
    }
        

    .contenido {
        padding: 20px;
    }

    .subtitulo {
        font-size: 24px;
    }


    .container-card {
        grid-template-columns: auto auto;
    }

    .title-cards {
        margin: 5% 0 7% 0 ;
        border-bottom: 5px solid #252525 ;
        padding-left: 10px ;
        padding-bottom: 2px;
        width: 250px;
        transition: 2s ease;
    }
    
            .title-cards:hover {
                transition: 1s ease;
                width: 90%;
                font-size: 1.1rem;
            }

    h1.estilo {
        padding: 10px;
        margin: 0 50px;
        border-top: 3px solid;
        border-bottom: 3px solid;
        border-color: #a8a8a891;
    }
}